body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

#title{
  text-align: center;
  font-size: 60px;
}

#desc > p {
  padding-left: 30px;
}

#links{
  text-align: center;
}

#links > li{
  display: inline-block;
  padding-left: 20px;
  font-size: 20px;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

#cake{
  display: inline-block;
  float: right;
  padding-right: 50px;
  padding-top: 50px;
  border-radius: 100px;
}

#moveReviewContents{
  padding-left: 30px;
}

label {
  padding-bottom: 50px;
}

input:last-child:hover{
  -webkit-filter: brightness(90%);
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
  outline: none;
}

input[type="radio"]:focus {
  background-position: 30px 30px;
  outline: none;
}
