/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: Ariel, sans-serif;
  background-color: #EEEEEE;
  font-weight: 400;
  font-size: 16px;
}

.header {
  color: white;
  background-color: #FF0000;
  border-bottom: 1px solid #aaaaaa;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
